*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
}

header { 
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1.left a { 
    display: inline-flex;
    align-items: center;
    color: #64748B;
}

header nav.right ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.right ul li { 
    margin-left: 20px;
}

header nav.right ul li a.btn1 { 
    border: 1px solid #1e293b;
    color: #1e293b;
    padding: 12px;
    cursor: pointer;
}

header nav.right ul li a.btn2 { 
    background-color: #334155;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
}



#spotlight { 
    border-top: 1px solid #e8e8e9;
}

#spotlight section.container { 
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#spotlight section.container div.home { 
    margin-top: 120px;
}

#spotlight section.container div.home h1 { 
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #0F172A;
}

#spotlight section.container div.home p { 
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 30px;
    color: #334155;
}

#spotlight section.container div.home a button { 
    border: none;
    background-color: #3B82F6;
    color: #fff;
    font-size: 16px;
    padding: 18px 25px;
    border-radius: 10px;
    cursor: pointer;
}

#spotlight section.container div.img-container { 
    margin-right: 120px;
}




#header section.mentors { 
    margin-top: 80px;
    background-color: #f5f8fc;
}

#header section.mentors ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 50px;
}

#header section.mentors ul li { 
    border-right: 4px solid #E2E8F0
    ;  
    margin: 0 auto;
    width: 100%;
}

#header section.mentors ul li:last-child {
    border-right: 0;
}

#header section.mentors ul li h4 { 
    font-size: 35px;
    margin-bottom: 10px;
}

#header section.mentors ul li p { 
    font-size: 15px;
    color: #424547;
}



#categories { 
    margin-top: 60px;
}

#categories div.list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#categories div.list h2 { 
    font-size: 25px;
}

#categories div.list a { 
    color: #3B82F6;
    font-size: 15px;
}

#categories div.top ul { 
    display: flex;
    justify-content: space-around;
}

#categories div.top ul li { 
    box-shadow: 0 0 2px 2px rgba(107, 106, 106, 0.1);
    border-radius: 25px;
    width: 380px;
    height: 250px;
    margin-right: 15px;
    padding: 50px;
    text-align: center;
}

#categories div.top ul li a img { 
    width: 100px;
    height: 100px;
    background: #dfeffd;
    padding: 0 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#categories div.top ul li a h3 { 
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}

#categories div.top ul li a p { 
    color: #5f6061;
}



#courses { 
    margin-top: 60px;
}

#courses div.list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#courses div.list h2 { 
    font-size: 25px;
}

#courses div.list a { 
    color: #0066ff;
    font-size: 15px;
}

#courses div.items ul { 
    display: flex;
    justify-content: space-evenly;
}

#courses div.items ul li { 
    box-shadow: 0 0 2px 2px rgba(107, 106, 106, 0.1);
    border-radius: 16px;
    margin-right: 15px;
    padding: 20px;
}

#courses div.items ul li img.bg { 
    width: 100%;
    margin-bottom: 15px;
}

#courses div.items ul li h3 { 
    font-size: 17px;
    margin-bottom: 15px;
}

#courses div.items ul li h6 { 
    font-size: 12px;
    color: #334155;
    font-weight: 400;
    margin-bottom: 10px;
}

#courses div.items ul li span.rating {
    display: flex;
}

#courses div.items ul li span.rating .rating_stars {
    display: flex;
}

#courses div.items ul li span.rating .star {
    width: 20px;
}

#courses div.items ul li span.rating span { 
    margin-left: 10px;  
    font-weight: 600;
    font-size: 14px;
    color: #334155;
}

#courses div.items ul li p { 
    margin: 15px 0;
    font-size: 15px;
    color: #334155;
}

#courses div.items ul li h5 { 
    font-size: 23px;
}



#instructors { 
    margin-top: 60px;
}

#instructors div.list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#instructors div.list h2 { 
    font-size: 25px;
}

#instructors div.list a { 
    color: #0066ff;
    font-size: 15px;
}

#instructors div.students ul { 
    display: flex;
    justify-content: space-evenly;
}

#instructors div.students ul li { 
    box-shadow: 0 0 2px 2px rgba(107, 106, 106, 0.1);
    border-radius: 14px;
    margin-right: 15px;
    padding: 20px;
    text-align: center;
    width: 17%;
}

#instructors div.students ul li img.model { 
    width: 100%;
    margin-bottom: 15px;
}

#instructors div.students ul li h3 { 
    font-size: 18px;
    margin-bottom: 5px;
}

#instructors div.students ul li h5 { 
    font-size: 16px;
    color: #334155;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e4e7;
}

#instructors div.students ul li div.bottom { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#instructors div.students ul li div.bottom span { 
    display: flex;
    align-items: center;
}

#instructors div.students ul li div.bottom span h6 { 
    font-size: 15px;
    margin-left: 10px;
}

#instructors div.students ul li div.bottom h4 { 
    font-size: 12px;
    color: #334155;
}



#about {
    margin-top: 60px;
    background-color: #F8FAFC;
    padding: 60px 0;
}

#about div.top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about div.top h2 { 
    font-size: 24px;
}
#about div.top span.arrow {
    display: flex;
}
#about div.top span.arrow img.one { 
    background-color: #93a4bd;
    padding: 12px 23px;
    border-radius: 8px;
    margin-right: 15px;

}

#about div.top span.arrow img.two { 
    background-color: #93a4bd;
    padding: 12px 23px;
    border-radius: 8px;
}

#about div.comments { 
    margin-top: 30px;
}

#about div.comments ul { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about div.comments ul li { 
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(107, 106, 106, 0.1);
    border-radius: 15px;
    width: 30%;
    margin-right: 15px;
    padding: 20px;
}

#about div.comments ul li img { 
    margin: 20px 0;
    width: 32px;
}

#about div.comments ul li p { 
    color: #1e293b;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 500;
}

#about div.comments ul li div.bottom { 
    display: flex;
    align-items: center;
}

#about div.comments ul li div.bottom img.span-img { 
    width: 16%;
    border-radius: 50%;
}

#about div.comments ul li div.bottom span.text { 
    margin-left: 10px;
}

#about div.comments ul li div.bottom span.text h3 { 
    font-size: 18px;
}

#about div.comments ul li div.bottom span.text p { 
    font-size: 14px;
    color: #334155;
}



#comments { 
    margin-top: 60px;
}

#comments section.content { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

#comments section.content div.content_box { 
    width: 35%;
}

#comments section.content div.content_box h3 { 
    font-size: 20px;
    margin-bottom: 15px;
}

#comments section.content div.content_box p { 
    font-size: 14px;
    line-height: 25.5px;
    color: #1D2939;
    margin-bottom: 35px;
}

#comments section.content div.content_box .button { 
    color: #fff;
    margin-right: 15px;
}

div.button_box {
    background-color: #0f0f0f;
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

#comments section.content div.content_box .button img { 
    margin-left: 10px;
}


footer { 
    background-color: #1e293b;
    padding: 5% 0;
}

footer section.last { 
    display: flex;
    gap: 10%;
    align-items: center;
}

footer section.last div.left { 
    width: 30%;
}

footer section.last div.left h1 { 
    margin-bottom: 15px;
}

footer section.last div.left h1 a { 
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 22px;
}

footer section.last div.left p { 
    color: #bcbdc4;
    line-height: 1.6em;
}

footer section.last div.right { 
    display: flex;
    justify-content: space-around;
    width: 60%;
}

footer section.last div.right div.list h3 { 
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

footer section.last div.right div.list ul li a { 
    color: #bcbdc4;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

footer section.last div.right div.list span.logos small { 
    width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    background: url(../assets/social-media.jpg);
}

footer section.last div.right div.list span.logos small:nth-child(2){
    background-position: -65px;
}

footer section.last div.right div.list span.logos small:nth-child(3){
    background-position: -128px;
}

footer section.last div.right div.list span.logos small:nth-child(4){
    background-position: -192px;
}

footer section.last div.right div.list span.logos small:nth-child(5){
    background-position: -256px;
}


@media all and (max-width: 1280px){
    .last h3 {
        font-size: 16px !important;
    }
    .last li {
        font-size: 12px;
    }
    footer section.last div.right {
        display: flex;
        justify-content: space-around;
        width: 60%;
        gap: 30px;
    }
    #courses div.items ul li span.rating {
        display: block;
        margin-left: 35px;
    }
    #courses div.items ul li span.rating .rating_stars {
        padding-bottom: 10px;
    }
    #courses div.items ul li span.rating span { 
        margin-left: 0px;
    }
    #courses div.items ul li h5 {
        font-size: 23px;
        margin-left: 35px;
    }
    #courses div.items ul li p {
        text-align: center;
    }
    #comments div.content div.img{
        width: 30px;
    }
}

@media all and (max-width: 980px){
    #spotlight section.container div.img-container {
        margin-right: 0px !important;
    }
    #spotlight section.container div.content{
        margin-top: 100px;
    } 
 
    #spotlight section.container div.content{
        margin-top: 100px;
    }
    #spotlight section.container div.img-container {
        margin: 0;
    }
    #spotlight section.container div.img-container img {
        width: 400px;
    }
    #spotlight section.container div.content p br {
        display: none;
    }
    #courses div.items ul li span.rating span{
        display: block;
        margin-top: 5px;
        margin-left: 0;
    }
    #instructors div.items ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    #instructors div.items ul li {
        margin-right: 25px;
        margin-bottom: 25px;
    }
    #about div.content ul{
        justify-content: center;
    }
    #about div.content ul li {
        width: 48%;
        margin-bottom: 20px;
    }
    #comments section.content div.left img{
        width: 300px;
    }
    #comments section.content div.right img{
        width: 350px;
    }
    footer section.container div.right {
        flex-wrap: wrap;
    }
    footer section.container div.right div.item{
        margin-right: 40px;
    }
    #categories div.top ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    #categories div.top ul li {
        box-shadow: 0 0 2px 2px rgba(107, 106, 106, 0.1);
        border-radius: 25px;
        width: 380px;
        height: 250px;
        margin-right: 15px;
        padding: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

@media all and (max-width: 768px) {
    #header section.bottom ul{
        padding: 20px 40px;
    }
    #header section.bottom ul li {
        margin-right: 20px;
    }
    #header section.bottom ul li:last-child {
        margin-right: 0;
    }
    #header section.bottom ul li h4{
        font-size: 28px;
    }
    #header section.bottom ul li p{
        font-size: 13px;
    }
    #courses div.items ul{
        flex-wrap: wrap;
    }
    #courses div.items ul li{
        margin-bottom: 20px;
    }
    #instructors div.items ul li{
        width: 28%;
    }
    #instructors div.items ul li div.bottom h4{
        font-size: 13px;
    }
    #about div.content ul li{
        width: 46%;
    }
    footer section.container{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer section.container div.left{
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
    }
    footer section.container div.left p br{
        display: none;
    }
    footer section.container div.right{
        justify-content: flex-start;
    }
    footer section.container div.right div.item {
        margin-bottom: 20px;
    }
    #categories div.items ul li{
        margin-bottom: 15px;
        width: 105px;
    }
} 

 @media all and (max-width: 640px) {
    #spotlight section.container div.content{
        width: 100%;
        text-align: center;
    }
    #spotlight section.container {
        flex-direction: column-reverse;
        align-items: center;
    }
    #header section.mentors ul{
        text-align: center;
        display: contents;
    }
    #courses div.items ul{
        justify-content: space-around;
    }
    #courses div.items ul li{
        width: 46%;
    }
    #instructors div.items ul li {
        width: 45%;
    }
    #instructors div.students ul { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    #instructors div.students ul li { 
        width: 82%;
    }
    #about div.content ul li{
        width: 100%;
    }
    #comments section.content:first-child{
        flex-direction: column;
    }
    #comments section.content:last-child{
        flex-direction: column-reverse;
    }
    #comments section.content div.content_box{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
} 

 @media all and (max-width: 480px) {
    #spotlight section.container div.content h1{
        font-size: 32px;
    }
    #spotlight section.container div.content p{
        font-size: 16px;
    }
    #header section.mentors ul{
        text-align: center;
        display: contents;
    }
    #header section.bottom ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    #header section.bottom ul li{
        width: 45%;
        margin-bottom: 20px;
        border: none;
    }
    #header section.bottom ul li:last-child{
        margin-right: 20px;
    }
    #instructors div.items ul li{
        width: 44%;
    }
    #about div.top h2{
        font-size: 22px;
        width: 60%;
    }
    #about div.top h2 br{
        display: none;
    }
    #about div.top span.arrow img.one{
        padding: 6px 15px;
        margin-right: 8px;
    }
    #about div.top span.arrow img.two{
        padding: 6px 15px;
    }
    #about div.comments ul {
        display: contents;
    }
    #about div.comments ul li {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 20px;
    }
    #about div.comments ul li:last-child {
        margin-bottom: 0px;
    }
    footer section.last{
        display: block;
    }
    footer section.last div.left{
        margin: 0 auto;
        width: 83%;
        margin-bottom: 30px;
    }
    footer section.last div.right{
        flex-direction: column;
        margin: 0 auto;
        width: 83%;
    }
} 

 @media all and (max-width: 360px) {
    header h1.left{
        width: 100%;
        text-align: center;
    }
    header nav.right {
        display: none;
    }
    #spotlight section.container div.content{
        margin-top: 50px;
    }
    #spotlight section.container div.content h1 {
        font-size: 28px;
    }
    #header section.bottom ul li {
        width: 42%;
    }
    #categories div.top h2{
        font-size: 22px;
    }
    #categories div.items ul li{
        width: 100%;
    }
    #courses div.top h2 {
        font-size: 22px;
    }
    #courses div.items ul li{
        width: 100%;
    }
    #instructors div.top h2{
        font-size: 22px;
    }
    #instructors div.items ul li{
        width: 100%;
    } 
} 

 @media all and (max-width: 320px) {
    #spotlight section.container div.content h1 {
        font-size: 25px;
    }
    #spotlight section.container div.content p{
        font-size: 15px;
    }
    #header section.bottom ul li{
        margin-left: 0;
    }
    #comments section.content div.left img{
        width: 280px;
    }
    #comments section.content div.right img{
        width: 300px;
    }
    #comments section.content div.content_box h3{
        font-size: 22px;
    }
    #comments section.content div.content_box p{
        font-size: 15px;
    }
    footer section.container div.right div.item:last-child {
        margin-right: 0;
    }
} 